$bg-color: yellow;
$border-color: red;

.editor {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0px 0px 150px 27px rgba(220, 220, 250, 1);
  margin-top: 10vh;
  margin-bottom: 10vh;
}
